.menu__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 72px;
    padding: 0 64px;

    background: linear-gradient(to right, var(--preto) 10%, #ffffff0b);
}
.main {
    width: 100%;
    height: 3px;
    overflow: hidden;
    background: linear-gradient(to right, var(--dourado) 0%, var(--laranja) 50%, var(--dourado) 100%);
    background-size: 200% 100%;
    animation: gradientAnimation 5s ease-in-out infinite;
}

@keyframes gradientAnimation {
    0% {
        background-position: 100% 0;
    }
    100% {
        background-position: -100% 0;
    }
}



.menu__logo {
    font-size: 1.1rem;
    font-weight: 700;
}

.menu__links {
    display: flex;
    gap: 32px;

    font-size: 1.1rem;
}

.menu__link:hover {
    cursor: pointer;
    color: var(--dourado);
    border-bottom: 3px solid var(--dourado);
    transition: 0.5s;

}

@media (max-width: 810px) {
    .menu__container {
        padding: 16px;
    }
}