:root{
    --swiper-theme-color: #fff;
    --swiper-pagination-bullet-inactive-color: var(--cinza);
}

.carrousel__container {
    margin: 0;
    padding: 0 64px;
}

.carrousel__swiper{
    width: 100%;
}
.carrousel__slide{
    width: 100%;
}

.carrousel__items{
    width: 100%;
}

.carrousel__descricao{
    font-family: var(--outfit);
    font-size: 16px;
}

.carrousel__img {
    padding: 24px 64px;  
    height: 100px;
}

.carrousel__titulo, .carrousel__descricao{
    padding:  0 64px;
}

.swiper-button-next,
.swiper-button-prev {
  background-color: #ff0000 !important;
  color: #ffffff !important;
}