 .carrousel__container {
    margin: 0;
    padding: 0 64px;
}

.carrousel__swiper{
    width: 100%;
}
.carrousel__slide{
    width: 100%;
}

.carrousel__items{
    width: 100%;
}

.carrousel__img {
    padding: 24px 64px;  
    height: 100px;
}

.carrousel__titulo, .carrousel__descricao{
    padding:  0 64px;
}