.hero__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    gap: 64px;
    padding: 112px 64px;

    background-image: url(../../public/assets/images/bg-transparent.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.hero__text {
    width: /* 616px */;
}

.text_main {
    background: #FD5200;
    background: -webkit-linear-gradient(to bottom right, var(--laranja) 42%, var(--dourado) 100%);
    background: -moz-linear-gradient(to bottom right, var(--laranja) 42%, var(--dourado) 100%);
    background: linear-gradient(to bottom right, var(--laranja) 42%, var(--dourado) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.titulo {
    color: var(--brancoTexto);
}

.hero__img {
    height: 300px;
}

@media (max-width: 810px) {
    .hero__container {
        padding: 120px 16px 16px 16px;
        gap: 16px;
        height: 100%;
    }
}
