 .skills__container {
    padding: 64px 0;
    gap: 24px;

    background-color: var(--preto);
    color: var(--brancoTexto);
}

.skills__carrousel{
    cursor: grab;
}
.skills__titulo{
    padding: 32px 64px;
}

@media (max-width: 810px) {
    .skills__container {
        padding: 64px 16px;
    }
  }