.footer__container{
    height: auto;
    padding: 64px;

    display: flex;
    flex-direction: column;

    background: linear-gradient(#000, var(--preto));
    color: var(--brancoTexto);
}

.footer__links, .footer__redes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 24px;

    padding: 16px;

    font-size: 1.1rem;
}

.footer__icon{
    width: 40px;
}

#whatsapp{
    border-radius: 50%;
}
.footer__icon:hover{
    cursor: pointer;
}

.footer__copy{
    display: flex;
    justify-content: center;
}

.footer__copy_text{
    padding: 32px;
}

@media (max-width: 810px) {
    .footer__container{
        height: auto;
        padding: 16px;
        flex-wrap: wrap;
    }
}