.contact__container {
    display: flex;
    justify-content: center;
    gap: 80px;

    padding: 64px;

    background: linear-gradient(var(--preto), #141414, #000);
}

.contact__descricao {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.contact__img {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.contact__form_container {
    max-width: 100%;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.contact__formik {}

.contact__form {
    width: 45vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
}

.contact__form_item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.contact__field {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid var(--preto);
}

.contact__field:focus {
    outline: none;
    border: 3px solid var(--dourado);
}

.contact__submit {
    display: flex;
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 550;
    border-radius: 8px;
    background-color: transparent;
    border: 3px solid var(--brancoTexto);
    color: var(--brancoTexto);
}

.contact__submit:hover {
    cursor: pointer;
    border: 3px solid var(--dourado);
    color: var(--dourado);


}

.contact__redes {
    display: flex;
    justify-content: center;
    gap: 24px;
}

.contact__icon {
    width: 50px;
}

.contact__icon_close {
    width: 30px;
    cursor: pointer;
}

.loadingIndicator {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    background-color: var(--cinza);
    color: var(--preto);
    font-size: 18px;
    font-weight: 500;
    border: 4px solid var(--laranja);

    cursor: wait;
    animation: spin 0.75s ease infinite;
}

@keyframes spin {
    0% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0.5;
    }
}

.successMessage {
    padding: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    border-radius: 10px;
    background-color: var(--cinza);
    color: green;
    font-size: 18px;
    font-weight: 500;
    border: 4px solid var(--verde);
    /* ... (outros estilos desejados) */
}


@media (max-width: 810px) {
    .contact__container {
        padding: 64px 32px;
        flex-wrap: wrap;
    }

    .contact__form_container{
        width: 100%;
    }

    .contact__form {
        width: 100%;
    }

    .contact__redes {
        gap: 16px;
    }
}