.about__container {
    padding: 64px 112px;
    gap: 80px;
}

.about__titulo {
    padding: 32px 0;
}

.about__descricao_container {
    display: flex;
    gap: 32px;
}

.about__descricao {
    max-width: 100%;
    display: flex;
    width: 100vw;
    flex-direction: column;
    gap: 16px;
}

.about__svg {
    width: 600px;
    /* ou qualquer outra largura desejada */
    max-width: 600px;
    /* garante que não ultrapasse 100% da largura disponível */
}

@media (max-width: 1272px) {
    .about__descricao_container {
        flex-direction: column;
    }
    .about__svg {
        width: 100%;
        /* ou qualquer outra largura desejada */
        max-width: 60%;
        /* garante que não ultrapasse 100% da largura disponível */
    }
}

@media (max-width: 810px) {
    .about__container {
        padding: 64px 16px;
    }

    .about__svg {
        width: 100%;
        /* ou qualquer outra largura desejada */
        max-width: 80%;
        /* garante que não ultrapasse 100% da largura disponível */
    }

}