.about__container {
    padding: 64px 112px;
    gap: 80px;
    background: var(--preto);

    background-image: url("../../public/assets/images/bg-transparent-2.png");
    background-repeat: no-repeat;
    background-size:  cover;
    background-attachment: fixed;
}

.about__titulo {
    padding: 32px 0;
}

.about__descricao_container {
    display: flex;
    gap: 32px;
}

.about__descricao {
    max-width: 100%;
    display: flex;
    width: 100vw;
    flex-direction: column;
    gap: 16px;
}

.about__descricao p{
    font-family: var(--outfit);
}

.about__svg {
    width: 600px;
    /* ou qualquer outra largura desejada */
    max-width: 600px;
    /* garante que não ultrapasse 100% da largura disponível */
}
  

@media (max-width: 1272px) {
    .about__descricao_container {
        flex-direction: column;
    }
    .about__svg {
        width: 100%;
        /* ou qualquer outra largura desejada */
        max-width: 350px;
        /* garante que não ultrapasse 100% da largura disponível */

        margin-bottom: 24px;

    }
}

@media (max-width: 810px) {
    .about__container {
        padding: 64px 16px;
        background-position: right 100%;
    }

    .about__svg {
        width: 100%;
        /* ou qualquer outra largura desejada */
        max-width: 300px;
        /* garante que não ultrapasse 100% da largura disponível */
    }

}
@media (max-width: 425px) {
    .about__container {
        padding: 64px 16px;
        background-position: left;
    }

}